.blog-page{
    .title{
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
}