@use "../../styles/variables" as vars;

.pro-form {
  .pro-header {
    position: relative;
    text-align: center;
    background-color: #e6e6e6;
    display: flex;
    height: 85px;
    justify-content: center;
    align-items: center;

    .vr {
      margin-top: 35px;
      height: 21px;
    }
  }

  .pro-body {
    .images-of-pro {
      .img-show {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #282828;
        padding: 24px;

        img {
          height: 500px;
          max-height: 100%;
          width: auto;
          transition: transform 0.3s ease-out;
          border-radius: 8px;
          object-fit: cover;
          overflow: hidden;
        }

        img:hover {
          transform: scale(1.02);
        }
      }

      .list-img-of-pro {
        ul {
          display: flex;
          flex-wrap: nowrap;
          overflow-x: hidden;
          padding: 0;
          margin: 0;
        }

        li {
          display: inline-block;
          padding: 10px 10px;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }

        i {
          cursor: pointer;
          display: inline-block;
          font-size: 30px;
        }

        >div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .pro-detai {
      padding: 0px 0px 0px 30px;

      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i {
        color: orange;
        padding-left: 3px;
      }

      .review-sale {
        width: 350px;
        justify-content: space-between;

        .ant-rate-star {
          font-size: 16px;
        }

        .ant-rate-star-half {
          .ant-rate-star-second {
            color: vars.$color-content;
          }
        }

        .ant-rate-star-zero {
          .ant-rate-star-second {
            color: vars.$color-content;
          }
        }
      }

      >div {
        line-height: 46px;
      }

      .quantity {
        height: 35px;

        span {
          margin-right: 7px;
          font-weight: bold;
        }
      }

      .text-content {
        color: vars.$color-content
      }

      .list-versions {
        .version-item {
          // height: 70px;
          background-color: vars.$color-background;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          gap: 0px;
          align-items: center;
          line-height: 2;
          padding: 8px;
        }

        .version-item.active {
          border: 1px solid vars.$color-price;
        }
      }

      button {
        height: 40px;
        font-weight: 500;
        background-color: #ff652f;
        color: #fff;
        font-weight: bold;
        border: none;
        // box-shadow: 0px 0px 19px 0px #aaa6a6;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease-in;

        &:hover {
          // transform: scale(1.02);
          // animation: scale 0.4s ease-in-out;
          background-color: #bd4512;
          transition: 0.4s ease-in;
        }

        i {
          color: #fff;
        }
      }
    }
  }
}

.image-gallery-image {
  height: 87vh;
}

.navbar_header2.modal-header {
  display: none !important;
}

.navbar_header3.modal-header {
  display: none !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 9999;
  background-color: rgba(68, 67, 67, 0.75) !important;
}

.ReactModal__Content--after-open {
  background: #282828 !important;
  border: none !important;
}

.image-list {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px 0;
  transition: transform 0.3s ease-in-out;
  /* Thêm hiệu ứng trượt */
  padding: 0;
  margin: 0;
}

.image-item {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #ff652f;
    filter: brightness(70%);
    transition: all 0.4s ease-in-out;
  }

  &.active {
    border-color: #ff652f;
  }

  img {
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 4px;
  }
}

.img-show {
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
  }
}

.list-img-of-pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #282828;
  border-radius: 4px;

  svg {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.fa-chevron-left,
.fa-chevron-right {
  cursor: pointer;
  transition: color 0.2s ease;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  color: #007bff;
}