.order-status {
  .card-stepper {
    background-color: #282828;
  }

  .card-stepper {
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;

    h5 {
      font-size: 32px;
      font-weight: 600;
      // color: #ff6521;
    }

    .card-body {

      .icon-next {
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(34, 194, 34);

        i {
          opacity: 0.3;
          transition: opacity 0.5s ease-in-out;
        }

        i.visible {
          opacity: 1;
        }
      }

      .shipper {
        h5 {
          font-size: 25px;
        }

        i {
          margin-left: 3px;
          color: orange;
        }

        >div {
          line-height: 30px;
        }
      }
    }
  }
}