@use "./styles/variables" as vars;

body {
  margin: 0;
  font-family: "BT Beau Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(22, 22, 24, 1);
  color: vars.$common-white;
  // background-color: rgba(0, 0, 0, .03);
  // color: rgba(0, 0, 0, .8);
}

.div-empty {
  height: 80px;
  background: rgba(29, 27, 27, 0.87) !important;
  box-shadow: 0px 4px 6px -4px #4e4e4e;
}

.cursor-pointer {
  cursor: pointer;
}

.ant-radio-group {
  .ant-radio-wrapper {
    color: vars.$common-white;
  }
}

.ant-picker {
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid vars.$border-color-bottom;
  background-color: vars.$color-background;

  .ant-picker-clear {
    color: vars.$common-white !important;
  }

  .ant-picker-suffix {
    color: vars.$common-white !important;
  }

  &:hover,
  &:focus {
    background-color: vars.$color-background;
  }

  .ant-picker-input {

    input,
    input::placeholder,
    .ant-picker-suffix {
      color: vars.$common-white !important;
    }
  }

}

.ant-picker-focused {
  background-color: vars.$color-background !important;

  .ant-picker-suffix {
    color: vars.$common-white !important;
  }

  input {
    color: vars.$common-white !important;
  }
}

.ant-steps {
  .ant-steps-item-finish {
    .ant-steps-item-icon {
      background-color: green !important;

      .ant-steps-icon {
        svg {
          color: #fff !important;
        }
      }
    }

  }

  .ant-steps-item-process {
    .ant-steps-item-icon {
      // background-color: rgb(255, 102, 0) !important;
      // border-color: rgb(255, 102, 0);

      .ant-steps-icon {
        svg {
          color: #fff !important;
        }
      }
    }

    .ant-steps-item-tail::after {
      background-color: #fff !important;
    }
  }

  .ant-steps-item-wait {
    .ant-steps-item-icon {
      background-color: #fff !important;

      .ant-steps-icon {
        svg {
          color: black !important;
        }
      }
    }

    .ant-steps-item-tail::after {
      background-color: #fff !important;
    }
  }

  .ant-steps-item-title {
    color: #fff !important;
    font-size: 16px !important;
    font-weight: bold;
    /* width: 150px;
    text-align: start; */
  }

  .ant-steps-item-description {
    color: #C6C6C6 !important;
  }
}
.price{
  color: vars.$color-price;
}