body {
  margin: 0;
  font-family: "BT Beau Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(22, 22, 24, 1);
  color: rgba(255, 255, 255, 1);
}
.div-empty {
  height: 80px;
  background: rgba(29, 27, 27, 0.87) !important;
}
