$base-size: 15px;
// $fontmain: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$common-white: #fff;
$common-orange: #ff652f;
$border-color-bottom : rgb(99, 97, 97);
$color-content: #848484;
$color-price: #f53d2d;
$color-status: #007bff;
$color-background: #282828;
$common-button: #f53d2d;
$common-black: #222222;