@use "../../styles/variables" as vars;
.cart-page{
    .title{
        font-size: 32px;
        font-weight: 700;
        line-height: 54px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
    }
    &_header{
        background-color: vars.$color-background;
    }
    .cart-item{
        margin-top: 1px;
        background-color: vars.$color-background;
        img{
            border-radius: 4px;
            object-fit: cover;
            overflow: hidden;
        }
        .another-info{
            color: vars.$color-content;
        }
    }
    .cart-summary{
        text-align: end;
        .btn-buy{
            background: vars.$color-price;
            color: #fff;
            border: none;
            padding: 8px 32px;
            border-radius: 2px;
        }
        .btn-buy:disabled{
            // opacity: 0.5;
            background: #cc746c;
        }
    }
}