@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap");

// Bootstrap mixins and functions
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";

// Change variables here
@import "mint/variables";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Vendor
@import "mint/vendor";

// mint mixins & functions
@import "mint/mixins";
@import "mint/functions";

// Utilities
@import "mint/reboot";
@import "mint/utilities";

// Layout
@import "mint/layout";

// Components
@import "mint/components";

// write your custom styles here!


/////////////////////////
/// MINT Image
/////////////////////////

.card .table td,
.card .table th {
    padding-left: 10px;
    padding-right: 10px;
}
.card-footer {
    border: 0;
}
.blog-thunmbnail,
.product-thunmbnail {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.sidebar-inner .accordion-button:not(.collapsed) {
    background-color: #2e3650;
}
.sidebar .nav-item .nav-link {
    color: #eaedf2;
    border: 0.0625rem solid #262b40;
}

.sidebar-inner {
    .accordion-item {
        border: unset;
        background-color: unset;
    }
    .accordion-button:not(.collapsed) {
        background-color: #2e3650!important;
        box-shadow:unset!important;
    }
    .nav-item .nav-link {
        color: #eaedf2;
        border: 0.0625rem solid #262b40;
    }
    .nav-item.active > .nav-link {
        color: #eaedf2;
        background-color: #2e3650;
        border: 0.0625rem solid #4c5680;
    }
    .accordion-button::after{
        content: "\f101";
    }
}

.sidebar-inner .accordion {
    --bs-accordion-bg: unset;
}
